.DS_Store
.Xauthority
.android/
.atom/
.bash_history
.cache/
.config/
.gvimrc
.idlerc/
.local/
.matplotlib/
.oh-my-zsh/
.oracle_jre_usage/
.p10k.zsh
.pylint.d/
.python_history
.ssh/
.swp
.viminfo
.vimrc.swo
.vscode/
.zcompdump-MacBook Pro-5.7.1
.zprofile
.zsh_history
.zshrc
.zshrc.pre-oh-my-zsh
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
OneDrive/
Pictures/
Public/
PycharmProjects/
README.md
__pycache__/
fonts/
go/
plum/
powerlevel10k/